.pagination {
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.btns {
  border-radius: 3px;
  width: 33px;
  height: 40px;
  background: #f9f9f9;
  color: #5b41f5;
  text-align: center;
  text-decoration: none;
  padding-top: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.btns:hover {
  background: #5b41f5;
  color: #fff;
  transition: all 0.3s;
}

.ul-pagination {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.a-pagination {
  display: block;
  border-radius: 3px;
  width: 33px;
  height: 40px;
  background: #f9f9f9;
  text-align: center;
  padding-top: 8px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.a-pagination:hover {
  background: #5b41f5;
  color: #fff;
  transition: all 0.3s;
}

.a-pagination-active {
  background: #5b41f5;
  color: #fff;
}

.a-pagination-active:hover {
  background: #3f2dab;
}
