.popular-post {
  margin-top: 20px;
  border-radius: 5px;
  width: 367px;
  height: 433px;
  background-color: #fff;
  padding: 31px;
}
.h3-popular-post {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 99%;
  color: #000;
}
