.category {
  width: 367px;
  height: 394px;
  background-color: #fff;
  border-radius: 5px;
  padding: 31px;
}
.h3-category {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 99%;
  color: #000;
  margin-bottom: 18px;
}

.li-category {
  font-size: 16px;
  line-height: 232%;
  color: #000;
  opacity: 0.4;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  transition: all 0.3s;
}
.li-category:hover {
  opacity: 1;
  transition: all 0.3s;
}
.li-category__active {
  opacity: 1;
}
