.display-post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.not-found {
  font-size: 64px;
  color: black;
  text-align: center;
  position: absolute;
}
