.post {
  color: #000;
  cursor: pointer;
}

.post-img {
  position: relative;
  border-radius: 7px;
}

.post-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(360deg, rgba(8, 4, 53, 0.81) 6.89%, rgba(8, 4, 53, 0) 100%);
  transition: all 0.3s ease;
}
.title-post {
  font-family: 'Rubik', sans-serif;
  margin-top: 23px;
  width: 240px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
}
.discription-post {
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  width: 320px;
  height: 65px;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;

  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.views {
  display: flex;
  margin-top: 16px;
}
.views-number {
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: #000;
  margin-left: 6px;
}
