body {
  background-image: url(./images/bg/bg.png);
  background-repeat: repeat;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  max-width: 1138px;
  margin: 0 auto;
}
