.home {
  flex-grow: 1;
}
.home-content {
  color: #fff;
  display: flex;
  gap: 19px;
  justify-content: space-between;
}
.home-content-posts {
  display: flex;
  flex-direction: column;
  gap: 76px;
}
